*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans','Arial';
}

.container {
    background: #e4e5e9;
}

#header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: rgb(49, 49, 49);
    color: #fff;
    
    
}

.name {
    letter-spacing: 0.1em;
    margin-left: 90%;
    word-spacing: 0.8em;
}

#underline {
    width: 300px;
    height: 2px;
    background: #ceced0;
    margin-left: 90%;
}

.row-education {
    padding:10px;
    background: #cdcdcf;
    border: solid 10px  #cdcdcf;
    display: block;

}

.row-education h4 {
    margin-left: 20px;
    background-color: rgb(156, 154, 154);
    width: 100%;
}

.row-achievements {
    padding:10px;
    background: rgb(49, 49, 49);;
    border: solid 10px  #cdcdcf;
    display: block;
    color: #fff;

}

.row-achievements h4 {
    margin-left: 20px;
    background-color: rgb(156, 154, 154);
    width: 100%;
}

.row-work-exp {
    padding:10px;
    background: #cdcdcf;
    border: solid 10px  #cdcdcf;
    display: block;

}

.row-work-exp h4 {
    margin-left: 20px;
    background-color: rgb(156, 154, 154);
    width: 100%;
}

.row-projects {
    padding:10px;
    background: rgb(49, 49, 49);;
    border: solid 10px  #cdcdcf;
    display: block;
    color: #fff;

}

.row-projects h4 {
    margin-left: 20px;
    background-color: rgb(156, 154, 154);
    width: 100%;
}

.row-co-curricular {
    padding:10px;
    background: #cdcdcf;
    border: solid 10px  #cdcdcf;
    display: block;

}

.row-co-curricular h4 {
    margin-left: 20px;
    background-color: rgb(156, 154, 154);
    width: 100%;
}

.row-skills {
    padding:10px;
    background: rgb(49, 49, 49);;
    border: solid 10px  #cdcdcf;
    display: block;
    color: #fff;

}

.row-skills h4 {
    margin-left: 20px;
    background-color: rgb(156, 154, 154);
    width: 100%;
    display: block;
}



.list-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

 #list {
    margin-left: 40px;
    : 10px;
}

#list-right{
    text-align: right;
}