*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans','Arial';
}

.container {
    background: #e4e5e9;
}

#header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: rgb(32, 32, 32);
    color: #fff;
    
    
}

.name {
    letter-spacing: 0.1em;
    margin-left: 90%;
    word-spacing: 0.8em;
}

#underline {
    width: 300px;
    height: 5px;
    background: #ceced0;
    margin-left: 90%;
}

.row-education {
    padding:10px;
    background: #cdcdcf;
    border: solid 10px  #cdcdcf;
    display: block;

}

.row-education h4 {
    margin-left: 20px;
    background-color: rgb(156, 154, 154);
    width: 100%;
}

.list-education {
    margin-top: 20px;
}

 #list {
    margin-left: 40px;
}

#list-right{
    text-align: right;
}