@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}


body {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(background.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:'Open Sans','Arial';
    font-size:16px;
}

.container-group {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 600px;
    max-width: 100%;
}

.heads {
    background-color: #e9e6e6;
    border-bottom: 1px solid #f0f0f0;
    padding:20px 40px;

    
}

.heads h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.fill-group {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.fill-group .gender {
    width:46%;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    font-size: inherit;
    
}


.fill-group label {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 30px;
}

.fill-group input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding:5px;
    width: 60%;
    margin-left: 20px;
}

.fill-group i {
    position: absolute;
    top:40px;
    right:10px;
}

.fill-group small {
    visibility: hidden;
    position:absolute;
    bottom:0;
    left: 0;
}